<%= render 'common/landing' %>

<div class="well landing">
  <h2> 使用規則  </h2>
  <div class="desc">
    <p>
      <ul>
        <li>申請個人帳號來瀏覽或是上傳考古題。</li>
        <li>系上公用帳號為imf@gmail.com，密碼同之前ftp所使用的。</li>
        <li>請勿亂上傳檔案，有水桶機制XP</li>
      </ul>  
    </p>
  </div>
</div>

<div class="well landing">
  <h2> 公告 </h2>
  <div class="desc">
    <p>
      <ul>
        <li>尚在開發中，許多功能還未作出，敬請期待</li>
      </ul>
    </p>
  </div>
</div>
