<div class="well landing">
  <h2> 關於本站 </h2>

  <div class="desc">
   <p>
    <ul>
      <li>有任何問題，請來信: chi.chun_chen844@icloud.com </li>
      <li> 本站開源。程式碼網址 <%= link_to("https://github.com/chichunchen/IMFoldexam", "https://github.com/chichunchen/IMFoldexam") %> ，歡迎 Fork。
        <li> 程式若有問題。請直接修復並拉 pull-request。</li>
      </ul>
    </p>
  </div>


  <h2> TODO </h2>

  <div class="desc">
    <p>
      <ul>
        <li>  </li>
      </ul>
    </p>
  </div>

  <h2> ISSUE </h2>
  <div class="desc">
    <p>
      <ul>
        <li>  </li>
      </ul>
    </p>
  </div>
</div>
