<div class="well landing">
  <h2> 關於本站 </h2>

  <div class="desc">
   <p>
    <ul>
      <li>有任何問題，請來信: chi.chun_chen844@icloud.com </li>
      <li> 本站開源。程式碼網址 <%= link_to("https://github.com/chichunchen/IMFoldexam", "https://github.com/chichunchen/IMFoldexam") %> ，歡迎 Fork。
        <li> 程式若有問題。請直接修復並拉 pull-request。</li>
      </ul>
    </p>
  </div>


  <h2> TODO </h2>

  <div class="desc">
    <p>
      <ul>
        
        <li> 打包下載整個年級的檔案 </li>
        
        <br>
        <li> 後台管理，admin可以發公告，檢查user新增的課程，若無問題才顯示。 </li>
          <ul>
            <li> course.is_visible? </li>
          </ul>

        <br>
        <li> 使用者新增的課程不要直接加入，先將is_visible設成 false ，等管理者同意再設定為 true。 </li>
        
        <br>
        <li> admin發公告使用markdown editor。 </li>
      
      </ul>
    </p>
  </div>

  <h2> ISSUE </h2>
  <div class="desc">
    <p>
      <ul>
        <li> 忘記帳號寄信給server的時候，有authentication problem </li>
          <ul> 
            <li> 解法一： 直接在user.rb裡面把forget password的方法拿掉。 </li>
            <li> 解法二： 待解決。 </li>
          </ul>

        <br>
        <li> 課程修改在加入carrierwave之後有問題 </li>
      </ul>
    </p>
  </div>
</div>
