<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-body" style="text-align:center;">

      <h3> 感謝你願意在這裏分享考古題 </h3>

      <%= image_tag("thank_you.jpg") %>

      <br><br>
      <h4> 只要是任何站上還沒有的內容，都歡迎大家自由上傳^_^ </h4>

      <br><br>

      <%= link_to("馬上來貼考古題", new_course_path, :class => "btn btn-lg btn-default btn-primary" ) %>

      <br><br>
      <p> <a href="#" style="color:#ccc; text-decoration:underline;" data-dismiss="modal"> 我改變心意了，這份考古題網站上好像已經有了 </a> </p>

    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
