<footer>
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <div class="navbar-collapse collapse" id="footer-body">
        <ul class="nav navbar-nav">
          <li>
            <a href="https://github.com/chichunchen/IMFoldexam">Source Code</a>
          </li>
          <li>
            <a href="https://github.com/chichunchen">About</a>
          </li>
          <li>
            <%= mail_to("chi.chun_chen844@icloud.com", "Advice") %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
