<footer class="container" style="margin-top: 100px;">
  <p class="text-center">
    Copyright ©2015 Chi Chun, Chen <br>
    Open Sourced in <a href="https://github.com/chichunchen/IMFoldexam" target=_new>Github</a>
  </p>
</footer>
