<div class="col-md-2">
    <div id="side_bar">
      <div class="list-group">
        <span href="#" class="list-group-item active">
          課程
          <span class="pull-right" id="slide-submenu">
            數量<i class="fa fa-times"></i>
          </span>          
        </span>
      </div>
    </div>
</div>